
  <mat-card class="controls">

    <div *ngIf="showPdlControl" class="controls--amount">
      <div class="controls--amount__input__container">
        <span class="controls--amount__label">Сумма : </span>
        <mat-form-field class="controls--amount__input">
          <input [(ngModel)]="amount.value" (ngModelChange)="updateTerm(amount.value)" type="number"
                 matInput>
        </mat-form-field>
        <span class="controls--amount__label-currency"> грн</span>
      </div>


      <div class="controls--amount__container">
        <mat-slider #amount
                    class="controls--amount__slider"
                    [(ngModel)]="localState.amount"
                    [min]="PdlAmountControl.min" [max]="PdlAmountControl.max"
                    [step]="PdlAmountControl.step"
                    (change)="onChanges('amount', amount.value)"
                    (ngModelChange)="updateTerm(amount.value)">
        </mat-slider>
        <div class="controls--amount__slider__labels-left">
          <span>{{PdlAmountControl.min}}</span>
          <span>{{PdlAmountControl.max - 1}}</span>
        </div>
        <div class="controls--amount__fake-control-right">
          <div class="controls--amount__fake-control__labels">
            <span>{{InstallmentAmountControl.min + 1}}</span>
            <span>{{InstallmentAmountControl.max}}</span>
          </div>
          <div class="controls--amount__fake-control__ticks-right"></div>
        </div>
      </div>
    </div>

    <div *ngIf="!showPdlControl" class="controls--amount">
      <div class="controls--amount__input__container">
        <span class="controls--amount__label">Сумма : </span>
        <mat-form-field class="controls--amount__input">
          <input [(ngModel)]="amount.value" (ngModelChange)="updateTerm(amount.value)" type="number"
                 matInput>
        </mat-form-field>
        <span class="controls--amount__label-currency"> грн</span>
      </div>

      <div class="controls--amount__container">
        <div class="controls--amount__fake-control-left">
          <div class="controls--amount__fake-control__ticks-left"></div>
          <div class="controls--amount__fake-control__labels">
            <span>50</span>
            <span>14999</span>
          </div>
        </div>
        <mat-slider #amount
                    class="controls--amount__slider"
                    [(ngModel)]="localState.amount"
                    [min]="InstallmentAmountControl.min" [max]="InstallmentAmountControl.max"
                    [step]="InstallmentAmountControl.step"
                    (change)="onChanges('amount', amount.value)"
                    (ngModelChange)="updateTerm(amount.value)">
        </mat-slider>
        <div class="controls--amount__slider__labels-right">
          <span>15000</span>
          <span>30000</span>
        </div>
      </div>
    </div>
<!-------------------------------------------------------------->
    <div *ngIf="showPdlControl" class="controls--term">
      <div class="controls--term__input__container">
        <span class="controls--term__label">Срок : </span>
        <mat-form-field class="controls--term__input">
          <input [(ngModel)]="term.value" (ngModelChange)="updateAmount(term.value)" type="number"
                 matInput>
        </mat-form-field>
        <span *ngIf="term.value === 1 || term.value === 21 || term.value === 31" class="controls--term__label-currency"> день</span>
        <span *ngIf="term.value === 2 || term.value === 3 || term.value === 4 || term.value === 22 || term.value === 23 || term.value === 24" class="controls--term__label-currency"> дня</span>
        <span *ngIf="term.value >= 5 && !(term.value === 21 || term.value === 22 || term.value === 23 || term.value === 24 || term.value === 31)" class="controls--term__label-currency"> дней</span>
      </div>


      <div class="controls--term__container">
        <mat-slider #term
                    class="controls--term__slider"
                    [(ngModel)]="localState.term"
                    [min]="PdlTermControl.min" [max]="PdlTermControl.max"
                    [step]="PdlTermControl.step"
                    (change)="onChanges('term', term.value)"
                    (ngModelChange)="updateAmount(term.value)">
        </mat-slider>
        <div class="controls--term__slider__labels-left">
          <span>{{PdlTermControl.min}}</span>
          <span>{{PdlTermControl.max - 1}}</span>
        </div>
        <div class="controls--term__fake-control-right">
          <div class="controls--term__fake-control__labels">
            <span>{{(InstallmentTermControl.min + 1) / 7 }}</span>
            <span>{{InstallmentTermControl.max / 7}}</span>
          </div>
          <div class="controls--term__fake-control__ticks-right"></div>
        </div>
      </div>
    </div>

    <div *ngIf="!showPdlControl" class="controls--term">
      <div class="controls--term__input__container">
        <span class="controls--term__label">Срок : </span>
        <mat-form-field class="controls--term__input">
          <input [ngModel]="getTerm(term.value)" (ngModelChange)="updateAmount(term.value)" type="number"
                 matInput>
        </mat-form-field>
        <span class="controls--term__label-currency"> недель</span>
      </div>

      <div class="controls--term__container">
        <div class="controls--term__fake-control-left">
          <div class="controls--term__fake-control__ticks-left"></div>
          <div class="controls--term__fake-control__labels">
            <span>{{PdlTermControl.min}}</span>
            <span>{{PdlTermControl.max - 1}}</span>
          </div>
        </div>
        <mat-slider #term
                    class="controls--amount__slider"
                    [(ngModel)]="localState.term"
                    [min]="InstallmentTermControl.min" [max]="InstallmentTermControl.max"
                    [step]="InstallmentTermControl.step"
                    (change)="onChanges('term', term.value)"
                    (ngModelChange)="updateAmount(term.value)">
        </mat-slider>
        <div class="controls--amount__slider__labels-right">
          <span>{{(InstallmentTermControl.min + 1) / 7 }}</span>
          <span>{{InstallmentTermControl.max / 7}}</span>
        </div>
      </div>
    </div>

    <button class="controls--submit-btn" type="submit" mat-button>Оформить кредит {{localState.totalAmount}} грн</button>
  </mat-card>
