<section class="controls">
  <mat-card>
    <div class="controls--amount__input__container">
      <span class="controls--amount__label">Сумма : </span>
      <mat-form-field class="controls--amount__input">
        <input [(ngModel)]="localState.amount"
               (input)="onAmountChange($event)"
               matInput
               [min]="amountSliderConfig.left.min"
               [max]="amountSliderConfig.right.max"
               type="number">
      </mat-form-field>
      <span class="controls--amount__label-currency"> грн</span>
    </div>

    <app-slider [sliderConfig]="amountSliderConfig" [sliderValue]="localState.amount" (returnValueEvent)="onChanges('amount', $event)"></app-slider>

    <div *ngIf="localState.term < termSliderConfig.right.min || localState.term === null" class="controls--term__input__container">
      <span class="controls--term__label">Срок : </span>
      <mat-form-field class="controls--term__input">
        <input [(ngModel)]="dayTerm"
               (input)="onDayChange($event)"
               matInput
               [min]="termSliderConfig.left.min"
               [max]="termSliderConfig.left.max"
               type="number">
      </mat-form-field>
      <span *ngIf="localState.term === 1 ||
      localState.term === 21 ||
      localState.term === 31"
            class="controls--term__label-currency"> день</span>
      <span
        *ngIf="localState.term === 2 ||
        localState.term === 3 ||
        localState.term === 4 ||
        localState.term === 22 ||
        localState.term === 23 ||
        localState.term === 24"
        class="controls--term__label-currency"> дня</span>
      <span
        *ngIf="localState.term >= 5 &&
        !(localState.term === 21 ||
        localState.term === 22 ||
        localState.term === 23 ||
        localState.term === 24 ||
        localState.term === 31)"
        class="controls--term__label-currency"> дней</span>
    </div>

    <div *ngIf="localState.term >= termSliderConfig.right.min || localState.term === null" class="controls--term__input__container">
      <span class="controls--term__label">Срок : </span>
      <mat-form-field class="controls--term__input">
        <input [(ngModel)]="weekTerm"
               (change)="onWeekChange($event)"
               matInput
               type="number">
      </mat-form-field>
      <span class="controls--term__label-currency"> недель</span>
    </div>

    <app-slider [sliderConfig]="termSliderConfig" [sliderValue]="localState.term" (returnValueEvent)="onChanges('term', $event)"></app-slider>

    <button class="controls__submit-btn" mat-button type="submit">Оформить кредит {{localState.totalAmount}}грн</button>
  </mat-card>
</section>
